<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />-->
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="e#ServerList" value="sls-cagw.psi.ch:5062;172.25.60.67:5062;172.21.10.14:5062;172.22.200.117:5062;172.21.70.14:5062" />
    <add key="medmPath" value="\\slsfs01.psi.ch\export\csa\releases\work\sls\config\medm\" />
    <add key="uiPath" value="\\slsfs01.psi.ch\export\csa\releases\work\sls\config\qt\" />
  </appSettings>
</configuration>